html{
    scroll-snap-type: y mandatory;
}

.app{
    height: 100vh;
    background-color: black;
    display: grid;
    place-items: center;
}

.app_videos{
    position: relative;
    height:600px;
    width: 50%;
    max-width: 400px;
    min-width: 300px;
    border-radius: 20px;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}

.app_videos {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.app_videos::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
